@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #c1dcdc; /* color-1 */
  --primary-color: #1e1e1e; /* color-2 */
  --secondary-color: #1e1e1ebf; /* color-3 */
  --text-color: #1e1e1e80; /* color-4 */

  --heading-text: 2rem;
  --defaut-text: 1.125rem;
}